
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:150px; /* Height of the footer element */
}
#footer-img {
	background-image: url("/img/Footer.png");
	background-repeat: repeat-x;
	position: fixed;
	height: 150px;
	width: 100%;
	bottom:0;
	left:0;
	z-index: -1;
}
#footer {
	background:#E0E0E0;
	width:100%;
	height:50px;
	position: fixed;
	bottom:0;
	left:0;
	z-index: -1;
}

/* End relative footer */

.relative {
	position: relative;
}

.center {
	margin: 0 auto;
	float: none;
}

img .center {
	margin-left: auto;
	margin-right: auto;
}

p>a:link {
	color: #FF530D;
	font-weight: 400;
}

p>a:visited {
	color: #5592aa;
}

p>a:hover{
	color: #334D5C;
	text-decoration: underline;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.body {
	position: relative;
	margin: none;
}

.page-container {
	background-color: #EFEFEF;
}

.no-top, .no-top h2 {
	margin-top: 0;
}

.img-responsive {
	margin: 0 auto;
}

.navbar {
	background-color: #334D5C;
}

.navbar-inverse .navbar-brand{
	color: #BDD4DE;
}

.navbar-inverse .navbar-nav>li>a {
	color: #BDD4DE;
	font-size: 15px;
}

.navbar-toggle {
	margin-top: 12px;
}

#navbar-icon {
	vertical-align: middle;
	margin: -20px 0px;
	padding: 15px;
}

/* Font awesome override */

.fa:hover {
	text-decoration: none;
	color: #FF530D;
}

a>.fa {
	color: #334D5C;
}

.btn>.fa{
	color: inherit;
}

/* Bootswatch overrides */

.btn {
  color: #FFF;
  background-color: #334D5C;
  border-color: transparent;
}
.btn:focus,
.btn.focus,
.btn:hover {
  color: #334D5C;
  background-color: #BDD4DE;
  border-color: rgba(0, 0, 0, 0);
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2B3A42;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-header .navbar-brand:hover {
	color: #FF530D;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-header .navbar-brand:focus{
	color: #FFFFFF;
}