<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="container-fluid">
				<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Meteor.png">

				<div class="page-header"><h2 class='text-center'>404</h2></div>
				<p class="text-center">Hmm.. Couldn't find this page. It is entirely possible that a stray meteor just hit my server, rendering this page, and only this page unreachable...<br><small>..or it never was there in the first place.</small>
				</p>

			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
	</div>
</div>