<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 center">
			<div class="container-fluid">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Beer.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">About <a href="https://github.com/zevisert"><i class="fa fa-github"></i></a></span>
							<p>Hey there. I'm Zev Isert. I'm a 3rd year software engineering student at the University of Victoria. I made this website, right down to every line of HTML and JavaScript, of course it does use libraries and frameworks to save on that sort of work, namely Bootstrap and Angular. It's an ongoing time-sink of mine, and forgive me when it bugs out, but progress has been made!<br><br>
								As the icon on this page might suggest, I enjoy beer, but like good beer, not the kind that comes in a can with a blue ribbons or mountains on it. It's a craft, a good beer comes from a long time fiddling with things to get it just right. The ones I've made have been decent, but there's a lot more learning to be had there as well. So for now, Category 12 it is!<br><br></p>
							</div>
						</div>
						<div class="action row center">
							<div class="col-md-3 col-md-offset-2">
								<div class="row">
									<a href="/public/Resume-SinglePage.pdf" target="_blank" class="btn btn-lg">
										<i class="fa fa-file-o"></i> Resume
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<a href="mailto:web@zevisert.ca" class="btn btn-lg">
										<i class="fa fa-envelope"></i> Contact
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<a href="tel:778-676-8771" class="btn btn-lg"
									ng-init="Phone =' Phone'" ng-mouseover="Phone =' (778) 676-8771'" ng-mouseout="Phone =' Phone'">
										<i class="fa fa-phone"></i> {{ Phone }}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>