<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
			<div class="container">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Beer.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">About <a href="https://github.com/zevisert"><i class="fa fa-github"></i></a></span>
							<p>Hey there. I’m Zev Isert, a 3rd year undergrad in Software engineering at the University of Victoria. Welcome to my website! I built it from empty files, so aside from the Bootstrap and Angular frameworks that are supporting it, every line of HTML, JavaScript, and CSS is my own. It is my first webpage, and I’m still working on it, so forgive me if it’s not all perfect. <br><br>

							As the icon on this page might suggest, I enjoy a good beer, not the kind that comes in a can with a blue ribbons or mountains on it. Lucky for me, I’ve no shortage of this living in Victoria. I also have no shortage of beautiful places to explore around here. You’ll start to see more and more of my adventures here on my blog page, which was the essential reason behind building this website. You can get in touch with me using the buttons below, and I’ll get back to you as soon as I can.
							</p>
						</div>
					</div>
					<div class="action row center">
						<div class="btn-group btn-group-justified hidden-xs hidden-sm visible-md visible-lg">
							<a href="/public/Resume-SinglePage.pdf" target="_blank" class="btn btn-default btn-lg">
								<i class="fa fa-file-o"></i> Resume
							</a>
							<a href="https://ca.linkedin.com/in/zevisert" target="_blank" class="btn btn-default btn-lg">
								<i class="fa fa-linkedin-square"></i> LinkedIn
							</a>
							<a href="mailto:web@zevisert.ca" class="btn btn-default btn-lg">
								<i class="fa fa-envelope"></i> Contact
							</a>
							<a href="tel:778-676-8771" class="btn btn-default btn-lg" ng-init="Phone =' Phone'" ng-mouseover="Phone =' (778) 676-8771'" ng-mouseout="Phone =' Phone'">
								<i class="fa fa-phone"></i> {{ Phone }}
							</a>
						</div>
						<div class="btn-group-vertical hidden-lg hidden-md visible-sm visible-xs">
							<a href="/public/Resume-SinglePage.pdf" target="_blank" class="btn btn-default btn-lg">
								<i class="fa fa-file-o"></i> Resume
							</a>
							<a href="https://ca.linkedin.com/in/zevisert" target="_blank" class="btn btn-default btn-lg">
								<i class="fa fa-linkedin-square"></i> LinkedIn
							</a>
							<a href="mailto:web@zevisert.ca" class="btn btn-default btn-lg">
								<i class="fa fa-envelope"></i> Contact
							</a>
							<a href="tel:778-676-8771" class="btn btn-default btn-lg" ng-init="Phone =' Phone'" ng-mouseover="Phone =' (778) 676-8771'" ng-mouseout="Phone =' Phone'">
								<i class="fa fa-phone"></i> {{ Phone }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>