<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
			<div class="container-fluid">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Beer.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">About</span>
							<p>One day you will know who I am. One day I'll be ready to share more. One day we'll rule the world!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>