<div class="container" ng-controller="homeController as evolv">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
			<div class="container">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2">
							<img class="img-responsive center" src="img/flat-icons/PNG/Satellite.png">
						</div>
						<div class="col-lg-10 col-md-10">
							<span class="title no-border no-lPadding">Development</span>
							<p>You've found evolv.zevisert.ca! This site is where I do my development on my main domain. Nothing here is guaranteed to be working, in fact nothing on zevisert.ca is guaranteed to be working either. This place is the battle worn landscape that I leave my work everytime I get distracted from working on this site. You may find things here that are broken or worse, ugly.</p>
						</div>
					</div>
					<div class="action center">
						<div id="patternContainer"></div>
						<a href="http://zevisert.ca" class='btn btn-primary'>Back to zevisert.ca</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>