<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
			<div class="container">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Cabin.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">Hey out there internet!</span>
							<p>Welcome to the beginnings of zevisert.ca! This is an ongoing project of mine, eventually it will be a place were I write about fun things I've done, share code I've written, and host a small autobiography. There's not a whole lot here now, as I've been working on building and updating mostly. This website has seen recent changes to the following</p><br>
							<p>April 5th, 2016</p>
							<ul>
							<li><b>Buttons</b> - Buttons match the site style a bit better now! </li>
							<li><b>Blog 'Security'</b> - I began work on adding a simple security mechanism to my blog content, right now it's really easy to bypass if you know what you're doing..</li>
							<li><b>Blog posts</b> - I've actually written more blog posts! There's than one post there now! </li>
							</ul>
							<hr>
							<p>Feb 28th, 2016</p>
							<ul>
							<li><b>Favicons!</b> - Icons, icons everywhere, now you should have proper resolutions for everything from the favicon in your browser, sharing links through facebook/pushbullet/twitter/etc, to shortcuts on your mobile device home screen (I know you want to)! </li>
							<li><b>Android Lollipop Multitasking</b> - Multitasking tabs are now styled to match my colorscheme!</li>
							<li><b>Footer</b> - I spent some time in illustrator and sketched out a fun little background footer, expect it to change. </li>
							<li><b>Blog Headers</b> - Fixed blog image headers not showing, or showing the wrong image.</li>
							<li><b>About Links</b> - Added some links on my about page to help you reach me.</li>
							<li><b>Resizing</b> - Fixed display issues on smaller screens, and with less text not taking the same width as the others.</li>
							</ul>
							<p>Otherwise feel free to look around, and if you find something doens't seem right, let me know!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>