<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
			<div class="container-fluid">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Cabin.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">Home</span>
							<p>Welcome to the beginnings of zevisert.ca! There's not much here now, but I'm learning how this all works, and hopefully will have something for you to look at soon! </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>