<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
			<div class="container">
				<div class="card">
					<div class="content row">
						<div class="col-lg-2 col-md-2 col-sm-2">
							<img class="img-responsive img-rounded" src="/img/flat-icons/PNG/Cabin.png">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10">
							<span class="title no-border no-lPadding">Hello World!</span>
							<p>Welcome to the beginnings of zevisert.ca! This is an ongoing project of mine, eventually it will be a place were I write about fun things I've done, share code I've written, and host a small autobiography. There's not a whole lot here now, as I've been working on building and updating the place, but feel free to look around, and if you find something doens't seem right, let me know!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>