<div class="container" ng-controller="postController as post">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
            <div class="container">
                <div class="card">
                    <div class="image" ng-show="post.hasImage"><img ng-src="{{ post.img }}" alt=""/></div>
                    <div class="title">{{ post.title }}
                        <p><small>Posted: {{ post.posted }}</small></p>
                    </div>
                    <div class="content">
                        <div ng-bind-html="post.body"></div>
                    </div>
                    <div class="action">
                        <a href="/blog" class="btn btn-primary">Back to Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- div ng-controller="modalController"></div-->
</div>